.shopping {
    border: 3px solid #548687;
    margin-right:4em;
    margin-left:4em;
    padding-top:2em;
    padding-bottom:2em;
    background-color:#042530
}

.segundoTitle{
    line-height: .6;
  } 